
    [class="wrapper"] {

        max-width: 1020px;
        margin: 0 auto;
        overflow: hidden;

    }


    *::-moz-selection {

        background: #179bff;
        color: #FFF;

    }

    *::selection {

        background: #179bff;
        color: #FFF;

    }

    * {

        box-sizing: border-box;

    }

    body {

        text-rendering: optimizeLegibility;
        font-family: "Signika", "EversonMono", "EversonMono", "Segoe UI Symbol", "Arial", "sans-serif";
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: #0a122f;

    }



    [class="blue"], i {

        color: #179bff;
        font-style: normal;

    }
