
[id="main"] {

    background: #f9f9f9;
    border-top: 1px solid #d9d9d9;
    padding-top: 50px;

}



[id="main"] h2[class="title"] {

    text-align: center;
    color: #585858;
    margin: 12px 0 0;
    font-weight: 200;
    font-size: 27px;

}


[id="main"] h3[class="title"] {

    text-align: center;
    color: #8a8a8a;
    margin: 12px 0 20px;
    font-weight: 800;
    font-size: 15px;

}


[id="main"] > div {

    max-width: 1200px;
    margin: 0 auto;

}



[id="domains"] {

    overflow: hidden;
    list-style: none;
    margin-top: 60px;

}


[id="domains"] li {

    width: 27.3%;
    float: left;
    background: white;
    margin: 10px 3%;
    padding: 0 0 10px;
    color: #585858;

    -webkit-box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.1);

}


[id="domains"] img {

    border-style: none;
    max-width: 96%;
    border-radius: 4px;
    margin: 2% 2% 10px;

}


[id="domains"] strong {

    margin-left: 2%;
    font-size: 17px;

}



[id="domains"] span {

    float: right;
    margin-right: 2%;
    font-weight: 800;
    color: #179bff;

}


[id="domains"] aside {

    margin-left: 2%;
    font-weight: 200;
    font-size: 13px;

}


