
    [id="main"] {

        background: #f9f9f9;
        border-top: 1px solid #d9d9d9;
        padding-top: 50px;
        padding-bottom: 40px;

    }



    [id="main"] h2[class~="title"] {

        text-align: center;
        color: #585858;
        margin: 8px 0 0;
        font-weight: 600;
        font-size: 24px;

    }


    [id="main"] h3[class~="title"] {

        text-align: center;
        color: #8a8a8a;
        margin: 4px 0 20px;
        font-weight: 200;
        font-size: 15px;

    }


    [id="main"] h2[class~="email"] a {

        color: inherit;
        text-decoration: none;

    }
    [id="main"] h2[class~="email"] a:hover {

        opacity: 0.8;
        text-decoration: underline;

    }



    [id="main"] strong {

        font-weight: 800;

    }




